body
{
background-color: gray;
font-family:Verdana;
font-size: 20px;
color: white;
}

h1
{
font-size: 52px;	
color:green;
}

/*Nieodwiedzony link*/
a:link
{
	color:Blue;
}

/*Odwiedzony link*/
a:visited
{
	color:Blue;
}

/*link po najechaniu kursorem */
a:hover
{
	color:Green;
}

#container
{
width: 1400px;
margin-left: auto;
margin-right: auto;
}

#logo
{
	background-color:  white;
	text-align: center;
	padding: 15px;
}

#nav
{
	float: left;
	background-color: orange;
	color: black;
	width: 200px;
	min-height: 620px;
	padding: 15px;
}

#content
{
	float: left;
	padding: 20px;
	width: 910px;
}

#ad
{
	float: left;
	width: 200px;
	min-height: 620px;
	padding: 10px;
	background-color: orange;
	text-align: center;
}

#footer
{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}